In [215]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [216]:
df=pd.read_csv('houses.csv',encoding='gbk')
df

       Unnamed: 0                       _id  ... district_name  sub_district_name
0               0  5dd2198f18bba2b4a9a0b854  ...            浦东                 北蔡
1               1  5dd2198f18bba2b4a9a0b855  ...            浦东                 北蔡
2               2  5dd2198f18bba2b4a9a0b856  ...            浦东                 北蔡
3               3  5dd2198f18bba2b4a9a0b857  ...            浦东                 北蔡
4               4  5dd2198f18bba2b4a9a0b858  ...            浦东                 北蔡
...           ...                       ...  ...           ...                ...
69649       96117  5ddbc9f0b5aadfc07d6d5d19  ...            宝山                 罗店
69650       96118  5ddbc9f0b5aadfc07d6d5d1a  ...            宝山                 罗店
69651       96136  5ddbc9f2b5aadfc07d6d5d2c  ...            宝山                 罗店
69652       96141  5ddbc9f2b5aadfc07d6d5d31  ...            宝山                 罗店
69653       96157  5ddbc9f2b5aadfc07d6d5d41  ...            宝山                 罗店

[69654 rows x 15 columns]

In [217]:
df['title'].unique().size
df.drop(index=df[df['title'].duplicated()].index,inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 65596 entries, 0 to 69653
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         65596 non-null  int64
 1   _id                65596 non-null  object
 2   title              65596 non-null  object
 3   price              65596 non-null  float64
 4   up_price           65596 non-null  int64
 5   xiaoqu_name        65596 non-null  object
 6   size               65596 non-null  float64
 7   buildyear          65596 non-null  int64
 8   huxing             65596 non-null  object
 9   chaoxiang          65596 non-null  object
 10  zhuangxiu          65596 non-null  object
 11  cenggao            65596 non-null  object
 12  louxing            65596 non-null  object
 13  district_name      65596 non-null  object
 14  sub_district_name  65596 non-null  object
dtypes: float64(2), int64(3), object(10)
memory usage: 8.0+ MB

In [218]:
df['_id'].unique().size

65596

In [219]:
print(df['xiaoqu_name'].unique().size)
print(len(df['sub_district_name'].unique()))
print(df['sub_district_name'].unique())

8329
165
['北蔡' '碧云' '曹路' '川沙' '高东' '高行' '航头' '花木' '惠南' '金桥' '金杨' '康桥' '联洋' '陆家嘴'
 '南码头' '泥城镇' '三林' '世博' '书院镇' '塘桥' '唐镇' '外高桥' '潍坊' '新场' '宣桥' '杨东' '洋泾' '源深'
 '御桥' '张江' '周浦' '祝桥' '春申' '古美' '航华' '华漕' '静安新城' '金虹桥' '金汇' '老闵行' '龙柏' '马桥'
 '梅陇' '浦江' '七宝' '吴泾' '莘庄' '颛桥' '大场镇' '大华' '高境' '共富' '共康' '顾村' '罗店' '上大'
 '淞宝' '淞南' '通河' '杨行' '月浦' '张庙' '漕河泾' '长桥' '衡山路' '华东理工' '华泾' '建国西路' '康健'
 '龙华' '上海南站' '田林' '万体馆' '斜土路' '徐汇滨江' '徐家汇' '植物园' '曹杨' '长风' '长寿路' '长征'
 '甘泉宜川' '光新' '桃浦' '万里' '武宁' '真光' '真如' '中远两湾城' '鞍山' '东外滩' '黄兴公园' '控江路'
 '五角场' '新江湾城' '中原' '周家嘴路' '北新泾' '古北' '虹桥' '静安寺' '天山' '仙霞' '西郊' '新华路' '镇宁路'
 '中山公园' '九亭' '莘闵别墅' '佘山' '泗泾' '松江大学城' '松江老城' '松江新城' '新桥' '安亭' '丰庄' '嘉定老城'
 '嘉定新城' '江桥' '菊园新区' '南翔' '打浦桥' '董家渡' '淮海中路' '黄浦滨江' '老西门' '南京东路' '蓬莱公园'
 '人民广场' '世博滨江' '五里桥' '新天地' '豫园' '不夜城' '曹家渡' '大宁' '江宁路' '南京西路' '彭浦' '西藏北路'
 '阳城' '永和' '闸北公园' '北外滩' '江湾镇' '凉城' '临平路' '鲁迅公园' '曲阳' '四川北路' '华新' '香花桥'
 '夏阳' '徐泾' '盈浦' '赵巷' '奉贤金汇' '海湾' '南桥' '西渡' '金山' '山阳' '石化' '张堰']

In [220]:
print(df['huxing'].unique())
print(df['zhuangxiu'].unique())
print(df['buildyear'].unique())

['2室2厅 ' '2室1厅 ' '1室1厅 ' '4室3厅 ' '3室1厅 ' '3室2厅 ' '4室2厅 ' '1室2厅 ' '2室0厅 '
 '5室1厅 ' '1室0厅 ' '5室3厅 ' '5室2厅 ' '4室1厅 ' '4室4厅 ' '6室3厅 ' '5室6厅 ' '6室2厅 '
 '5室4厅 ' '7室3厅 ' '3室3厅 ' '9室2厅 ' '7室2厅 ' '7室1厅 ' '6室4厅 ' '6室1厅 ' '8室4厅 '
 '3室0厅 ' '7室4厅 ' '7室5厅 ' '4室5厅 ' '9室6厅 ' '9室4厅 ' '6室5厅 ' '10室1厅 ' '4室0厅 '
 '8室1厅 ' '9室3厅 ' '9室9厅 ' '5室5厅 ' '8室3厅 ' '2室3厅 ' '7室6厅 ' '8室2厅 ' '0室0厅 '
 '6室6厅 ' '2室4厅 ' '6室0厅 ' '10室2厅 ' '7室0厅 ' '3室4厅 ' '8室5厅 ' '10室3厅 ' '5室0厅 '
 '3室5厅 ']
[' 简装 ' ' 精装 ' ' 毛坯 ' ' 其他 ']
[2010 1995 2007 1997 2004 1994 2011 2012 1998 2013 1999 2016 2000 2005
 1996 2003 2015 2006 2009 1993 2002 2014 1992 2008 2001 2019 2018 1987
 1991 2017 1989 1988 1982 1983 1984 1981 1985 1977 1986 1990 1979 1980
 1953 1976 1958 1978 1969 1974 1975 1955 1971 1954 1956 1959 1968 1964
 1960 1967 1972 1961 1973 1936 1911 1941 1948 1949 1939 1933 1940 1946
 1937 1910 1945 1957 1965 1966 1970 1963 1950 1962 1930 1920 1947 1938
 1934 1935 1921 1926 1912 1924 1928 1931 1943 1900 1952 1951]

In [221]:
price_sum=df['price'].sum()/df['size'].sum()
price_sum

5.8122140264008015

In [222]:
data=df.groupby(['huxing']).agg({'size':['count','mean']})
data.sort_values(by=[('size', 'count')],ascending=False)

         size
        count         mean
huxing
2室1厅    16352    66.892154
2室2厅    12155    93.173626
3室2厅    11926   129.542069
1室1厅    11256    46.822184
4室2厅     3435   209.589217
3室1厅     3283    91.565790
1室0厅     1833    36.039285
2室0厅     1318    49.637299
1室2厅     1109    67.624355
5室2厅      822   288.478054
5室3厅      562   360.197367
4室3厅      549   273.250947
6室3厅      177   396.093672
6室2厅      144   290.662917
4室1厅      137   155.922920
3室3厅      127   176.640394
3室0厅      103    68.357573
6室4厅       48   521.016250
5室4厅       48   408.546250
7室3厅       35   468.985143
5室1厅       32   225.869375
7室2厅       29   309.237241
4室4厅       20   267.326500
6室1厅       10   174.495000
8室2厅        9   366.875556
7室4厅        8   544.376250
2室3厅        8   118.597500
6室5厅        6   689.130000
8室3厅        6   474.710000
7室5厅        5   532.396000
8室4厅        5   622.384000
9室2厅        4   757.650000
9室4厅        3   409.463333
0室0厅        3   169.210000
4室0厅        3   192.590000
6室0厅        2   504.425000
7室1厅        2   177.200000
9室6厅        2   473.775000
5室6厅        2   397.080000
7室6厅        2   406.005000
5室5厅        2   334.585000
10室1厅       1   544.990000
5室0厅        1    89.600000
4室5厅        1   321.000000
7室0厅        1   161.440000
6室6厅        1  1440.160000
8室1厅        1   386.170000
3室5厅        1   376.210000
3室4厅        1    94.370000
2室4厅        1   129.400000
8室5厅        1  1663.100000
10室3厅       1   598.320000
9室3厅        1   593.010000
10室2厅       1   370.000000
9室9厅        1  1352.240000

In [223]:
df['xiaoqu_name'].value_counts()

上海康城             184
同润菲诗艾伦           116
中远两湾城            109
奥林匹克花园           102
绿地香颂(奉贤)(公寓)      94
                ...
菜场路301弄            1
弘泽欣园               1
惠城大厦               1
复兴中路1269号          1
复兴小区               1
Name: xiaoqu_name, Length: 8329, dtype: int64

In [224]:
data1=df.groupby(df['xiaoqu_name']).agg({'price':'sum','size':'sum'})
data1['avg_price']=data1['price']/data1['size']
data1.sort_values(by=['avg_price'],ascending=False)

               price    size  avg_price
xiaoqu_name
常熟路182号      24999.0  474.00  52.740506
良友别墅         12000.0  305.00  39.344262
霞飞别墅         11800.0  319.12  36.976686
复兴西路299弄     19420.0  545.15  35.623223
兴国路320号       7202.7  226.10  31.856258
...              ...     ...        ...
御景龙庭玲珑公馆        98.0   74.10   1.322537
临潮二村           153.0  116.88   1.309035
华鼎大楼            63.0   48.26   1.305429
万寿新村(金山)       220.0  173.43   1.268523
石化一村           841.0  691.92   1.215458

[8329 rows x 3 columns]

In [225]:
data1['total_price']=data1['price']*data1['size']
data1['total_price'].sort_values(ascending=False).head(5)

xiaoqu_name
绿城玫瑰园      6.380912e+09
上海康城       2.111043e+09
佘山高尔夫郡     2.002416e+09
翠湖天地御苑     1.915406e+09
财富海景花园     1.589741e+09
Name: total_price, dtype: float64

In [226]:
from datetime import datetime
df['buildyear']=pd.to_datetime(df['buildyear'],format='%Y')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 65596 entries, 0 to 69653
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         65596 non-null  int64
 1   _id                65596 non-null  object
 2   title              65596 non-null  object
 3   price              65596 non-null  float64
 4   up_price           65596 non-null  int64
 5   xiaoqu_name        65596 non-null  object
 6   size               65596 non-null  float64
 7   buildyear          65596 non-null  datetime64[ns]
 8   huxing             65596 non-null  object
 9   chaoxiang          65596 non-null  object
 10  zhuangxiu          65596 non-null  object
 11  cenggao            65596 non-null  object
 12  louxing            65596 non-null  object
 13  district_name      65596 non-null  object
 14  sub_district_name  65596 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(2), object(10)
memory usage: 10.5+ MB

In [231]:
df2=df.set_index('buildyear')
df2.title.resample('10A').count()

buildyear
1900-12-31        1
1910-12-31        1
1920-12-31        6
1930-12-31       34
1940-12-31       98
1950-12-31       36
1960-12-31      408
1970-12-31      227
1980-12-31     1236
1990-12-31     8209
2000-12-31    22398
2010-12-31    23623
2020-12-31     9319
Freq: 10A-DEC, Name: title, dtype: int64