In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('jobs.csv')
df

,title,company,company_size,industry,type,salary,company_type,source,experience,education,salary2
0,招聘数据分析师,北京越铖国际科技有限公司,20-99人,人事/行政/高级管理,全职,8000-12000,民营,斗米,不限,不限,10000.0
1,数据分析师,北京新东方教育科技（集团）有限公司,NaN,计算机/互联网/信息技术,全职,12000-20000,民营,OFweek人才网,不限,不限,16000.0
2,数据分析师(新浪),新浪网技术(中国)有限公司,2000-5000人,数据分析师,全职,20000-25000,外商独资/办事处,猎聘,3-5年,本科,22500.0
3,数据分析师,北京美科思远环境科技有限公司,20-99人,环保/环境科学类,全职,12000-20000,股份制,北极星招聘,不限,硕士,16000.0
4,助理、临床样本库采样人员、软件工程师、数据库管理工程师、机械设计与结构工程师、Android...,中国人民解放军总医院（北京市解放军医学院）,NaN,医疗,全职,面议,公立医院,康强医疗人才网,不限,不限,NaN
...,...,...,...,...,...,...,...,...,...,...,...
645,数据分析工程师(清控紫荆),清控紫荆(北京)教育科技股份有限公司,50-99人,其他互联网+技术职位,全职,25000以上,民营,猎聘,3-5年,本科,25000.0
646,风险决策分析师-大数据方向009777(京东数字科技控股有限公司),京东数字科技控股有限公司,2000-5000人,能源/采掘/化工/环保,全职,面议,外商独资/办事处,猎聘,3-5年,硕士,NaN
647,数据分析工程师（物流规划）(旷视科技),北京旷视科技有限公司,2000-5000人,数据分析师,全职,面议,民营,猎聘,3-5年,本科,NaN
648,网络人工智能架构师大数据分析架构师(国内知名互联网企业),国内知名互联网企业,50-99人,IT/互联网,全职,25000以上,民营,猎聘,5-10年,本科,25000.0
649,气象数据分析工程师(航天新气象科技有限公司),航天新气象科技有限公司,100-499人,数据分析师,全职,面议,国企,猎聘,不限,本科,NaN

In [4]:
df['title'].unique().size
df.drop(index=df[df['title'].duplicated()].index,inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 630 entries, 0 to 649
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         629 non-null    object
 1   company       630 non-null    object
 2   company_size  584 non-null    object
 3   industry      622 non-null    object
 4   type          630 non-null    object
 5   salary        630 non-null    object
 6   company_type  630 non-null    object
 7   source        629 non-null    object
 8   experience    630 non-null    object
 9   education     630 non-null    object
 10  salary2       527 non-null    float64
dtypes: float64(1), object(10)
memory usage: 59.1+ KB

In [6]:
df.head(10)

,title,company,company_size,industry,type,salary,company_type,source,experience,education,salary2
0,招聘数据分析师,北京越铖国际科技有限公司,20-99人,人事/行政/高级管理,全职,8000-12000,民营,斗米,不限,不限,10000.0
1,数据分析师,北京新东方教育科技（集团）有限公司,NaN,计算机/互联网/信息技术,全职,12000-20000,民营,OFweek人才网,不限,不限,16000.0
2,数据分析师(新浪),新浪网技术(中国)有限公司,2000-5000人,数据分析师,全职,20000-25000,外商独资/办事处,猎聘,3-5年,本科,22500.0
4,助理、临床样本库采样人员、软件工程师、数据库管理工程师、机械设计与结构工程师、Android...,中国人民解放军总医院（北京市解放军医学院）,NaN,医疗,全职,面议,公立医院,康强医疗人才网,不限,不限,NaN
6,BI数据分析师(贝壳找房(北京)科技有限公司),贝壳找房(北京)科技有限公司,1000-2000人,数据分析师,全职,12000-20000,民营,猎聘,5-10年,本科,16000.0
7,大气源解析数据分析工程师,北京博赛德科技有限公司,20-99人,环保/环境科学类,全职,12000-20000,个人企业,北极星招聘,1-3年,硕士,16000.0
9,数据分析师-dell公司（北京）,北京易微管理咨询有限公司,NaN,计算机/互联网/信息技术,全职,8000-12000,民营,OFweek人才网,不限,不限,10000.0
10,数据分析师(国美在线),国美在线电子商务有限公司,2000-5000人,数据分析师,全职,12000-20000,上市公司,猎聘,3-5年,硕士,16000.0
11,高级数据分析工程师—故障预报方向,金风风电产业集团—客户服务中心,20-99人,质量管理/安全防护类,全职,20000-25000,民营,北极星招聘,3-5年,硕士,22500.0
13,数据分析师-呼叫中心方向(优信集团),优舫(北京)信息科技有限公司,5000-10000人,数据分析师,全职,12000-20000,民营,猎聘,3-5年,本科,16000.0

In [7]:
df.source.unique()

array(['斗米', 'OFweek人才网', '猎聘', '康强医疗人才网', '北极星招聘', nan, '普工招聘网', '工厂直聘网',
       '百姓网'], dtype=object)

In [36]:
df[df.industry=='数据分析师'][['experience']]
df[df.industry=='数据分析师'].groupby('experience')['title'].count()

experience
1-3年     126
10年以上      1
3-5年     165
5-10年     46
不限        50
Name: title, dtype: int64

In [35]:
df[df.industry=='数据分析师'][['education']]
df[df.industry=='数据分析师'].groupby('education')['title'].count()

education
不限     12
博士      1
大专     17
本科    339
硕士     19
Name: title, dtype: int64

In [54]:
df.industry.unique()
print(df.industry.dtype)
pd.pivot_table(df,index='industry', values='salary2')

object

                               salary2
industry
C++                       22500.000000
IT/互联网                    15000.000000
Java                      22500.000000
Python                    20500.000000
业务分析专员/助理                 10000.000000
人事/行政/高级管理                10000.000000
企管顾问/专业顾问/策划师             16000.000000
公务员/农林牧渔/其他               10000.000000
其他互联网+产品职位                16000.000000
其他互联网+技术职位                20500.000000
其它                        11100.000000
制药/医疗                     12000.000000
司机|物流|贸易|保险               10000.000000
咨询/法律/翻译/商标/专利            11555.555556
咨询顾问/咨询员                   6500.000000
媒介策划                      10000.000000
媒体/广告/出版/艺术创意              6500.000000
市场/公关                     10625.000000
情报信息分析师                   11437.500000
房地产成本经理/主管                22500.000000
技工|工人|生产|机械                4000.000000
数据产品经理                    21166.666667
数据分析师                     15189.490446
数据库开发工程师                  16500.000000
数据建模                      16000.000000
数据挖掘工程师                   19583.333333
数据架构师                     20500.000000
数据运营                      14200.000000
普工                         3825.000000
普工|技工|生产|机械                8750.000000
架构师                       19250.000000
激光/光学                     10000.000000
焊工                         7000.000000
环保/环境科学类                  16000.000000
生产制造/造纸印刷/服装服?机械设计/制造/维修  13000.000000
生产制造/造纸印刷/服装服?汽车设计/制造     16000.000000
生产制造/造纸印刷/服装服?汽车销售/服务      6500.000000
生产制造/造纸印刷/服装服?质量管理/安全防护   10000.000000
生物技术员                     10000.000000
用户运营                      16000.000000
电商运营                       6500.000000
算法工程师                     19600.000000
系统工程师                     10000.000000
网络工程师                     10000.000000
能源/采掘/化工/环保               17785.714286
行业研究                      10000.000000
装卸工                        7000.000000
计算机/互联网/信息技术              12611.111111
证券分析师                     10000.000000
财务/人力资源/行政                13416.666667
财务/审计/税务                  10000.000000
质量管理/安全防护类                22500.000000
运输/物流/仓管                   6500.500000
金融                         6500.000000
金融同业                      22500.000000
销售/客服/技术支持                16333.333333
销售|市场|客服|公关               10000.000000
项目专员/助理                   16000.000000
风险控制                      19000.000000
餐饮|酒店|超市|服务业               2500.000000

In [46]:
df.sort_values(by='salary2',ascending=False).head(10)

,title,company,company_size,industry,type,salary,company_type,source,experience,education,salary2
648,网络人工智能架构师大数据分析架构师(国内知名互联网企业),国内知名互联网企业,50-99人,IT/互联网,全职,25000以上,民营,猎聘,5-10年,本科,25000.0
518,风险政策分析师（数据方向)(J191024008)(滴滴),北京嘀嘀无限科技发展有限公司,5000-10000人,能源/采掘/化工/环保,全职,25000以上,外商独资/办事处,猎聘,5-10年,本科,25000.0
264,资深数据分析师(北京城市网邻信息技术有限公司),北京城市网邻信息技术有限公司,10000人以上,数据分析师,全职,25000以上,民营,猎聘,不限,本科,25000.0
550,数据高级分析师(友信金服),北京友信科技有限公司,10000人以上,IT/互联网,全职,25000以上,民营,猎聘,3-5年,硕士,25000.0
551,高级业务需求分析师（金融数据分析方向-急）(中网数据(北京)股份有限公司),中网数据(北京)股份有限公司,100-499人,IT/互联网,全职,25000以上,民营,猎聘,5-10年,本科,25000.0
554,数据资深分析师(友信金服),北京友信科技有限公司,10000人以上,数据分析师,全职,25000以上,民营,猎聘,3-5年,本科,25000.0
211,数据分析师(北京百分点信息科技有限公司),北京百分点信息科技有限公司,500-999人,IT/互联网,全职,25000以上,民营,猎聘,5-10年,本科,25000.0
605,数据分析行业分析工程师(某互联网公司),某互联网公司,10000人以上,数据分析师,全职,25000以上,中外合资/合作,猎聘,5-10年,本科,25000.0
607,高级数据策略分析师（建模方向）(便利蜂),睦邻企业管理服务(北京)有限公司,5000-10000人,数据分析师,全职,25000以上,民营,猎聘,3-5年,本科,25000.0
177,数据分析师(北京快手科技有限公司),北京快手科技有限公司,100-499人,数据分析师,全职,25000以上,民营,猎聘,1-3年,本科,25000.0

In [63]:
import numpy as np
table=pd.pivot_table(df,index='company', values='title',aggfunc=len)
table.sort_values(by='title',ascending=False).head(10)

                     title
company
百度在线网络技术(北京)有限公司         7
深圳索信达数据技术有限公司            7
车好多旧机动车经纪(北京)有限公司        7
海南小易到家电子商务有限公司上海分公司      6
贝壳找房(北京)科技有限公司           5
苏州皇亭电子有限公司               5
马上消费金融股份有限公司             4
北京百分点信息科技有限公司            4
北京友信科技有限公司               4
北京嘀嘀无限科技发展有限公司           4

In [66]:
table1=pd.pivot_table(df,index='company_type',values='salary2')
table1

                   salary2
company_type
上市公司          14367.346939
个人企业          16000.000000
中外合资/合作       13357.142857
事业单位          14166.666667
其它            10000.000000
国企            12846.153846
外商独资/办事处      17516.129032
民营            14557.880577

In [70]:
df1=df.sort_values(by='salary2',ascending=False).head(10)
df1[['company','company_type','salary']]

              company company_type   salary
648         国内知名互联网企业           民营  25000以上
518    北京嘀嘀无限科技发展有限公司     外商独资/办事处  25000以上
264    北京城市网邻信息技术有限公司           民营  25000以上
550        北京友信科技有限公司           民营  25000以上
551    中网数据(北京)股份有限公司           民营  25000以上
554        北京友信科技有限公司           民营  25000以上
211     北京百分点信息科技有限公司           民营  25000以上
605            某互联网公司      中外合资/合作  25000以上
607  睦邻企业管理服务(北京)有限公司           民营  25000以上
177        北京快手科技有限公司           民营  25000以上